.titulo {
    text-align: center;
    color: $primary-color;
    font-size: $font-large;
    margin: 0;
    animation: fadeIn 1.5s ease-in-out;
  }

body {
    background-color: $background-color;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
body, html {
    padding: 0 20px; 
    height: 100%;
    margin: 0;
  }

main {
  flex: 1;
}

  .subtitulos {
    text-align: center;
    color: $primary-color;
    font-size: $font-medium;
    margin: 0;
  }
  
  .nav nav-underline {
    text-align: center;
    background-color: $secondary-color;
    color: $text-color;
  }


  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    padding: 0;
  }
