
$background-color: #E4D8C7;
$primary-color: #1e698d;
$secondary-color: #27445D;
$text-color: #f3e0bf;

$padding-large: 20px;
$padding-small: 5px;
$gap-small: 15px;
$gap-medium: 20px;

$font-large: 2em;
$font-medium: 1.5em;

$max-width-form: 600px;
$max-width-content: 800px;
